//variables 
@import "./variables.scss";

//composant
@import "./component/button.scss";
@import "./component/header.scss";
@import "./component/footer.scss";
@import "./component/cards.scss";
@import "./component/heart.scss";
@import "./component/steps.scss";


//page
@import "./page/home.scss";
@import "./page/restaurant.scss";