$color-primary: #9356DC ;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;





@mixin font-text {
        font-family: roboto;
        font-size: 16px;
}

@mixin font-h3 {
        font-family: roboto;
        font-size: 18px;
}

@mixin font-H1 {
        font-family: roboto;
        font-size: 20px;
}

@mixin font-h2 {
        font-weight: 100;
        font-size: 15px;
        font-family: Roboto;
}