h1{
    @include font-H1;
    
}
h2{
     @include font-h2;
}



.fonctionnements{
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__carte{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border: solid 1px;
        border-radius: 15px;
        border-color: white;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4); 
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);

        & :hover {
            background-color: rgb(231, 158, 231);
        }
        
    }

    &__chiffre{
        border: solid 1px;
        border-radius: 20px;
        width: 20px;
        height: 20px;

    }
}



