.restaurant{
    
        display: flex;
        flex-direction: column;
        background-color: #f1f0f0;
        margin-top: 55px;
        padding-top: 10px;
        padding-bottom: 45px;
        
    

            &__cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            }
    

                &__card{
                    height: 340px;
                    width: 96%;
                    background-color: white;
                    border-radius: 15px;
                }

                    &__new{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $color-tertiary;
                        height: 25px;
                        position: absolute;
                        background-color: #99E2D0;
                        top: 785px;
                        right: 40px;
                        width: 70px;
                       
                    }
                    


                    &__texte{
                        display: flex;
                        flex-direction: column;
                        margin: 10px 10px;
                        font-family: roboto;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        &:focus{
                            color: black;
                        }
                    }
                    img{
                        width: 100%;
                        height: 270px;
                        object-fit: cover;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        
                    }
                    &__nom{
                        font-weight: bold;
                        font-size: 18px;
                    }
                    &__location{
                        font-weight: 100;
                        font-size: 15px;
                    }

}