.logo{
    
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 224, 224);

        .menu__locations{
            width: 100%;
            height: 40px;
            background-color: beige;
        }
}