.logo{
    
    display: flex;
    justify-content: center;
    height: 30px;
}



.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    background-color: #f1f0f0;;

        &__locations{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            background-color:  #e3e3e3;
        }
        &__presentation{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            height: 250px;
        }
}